body {
    background-color: #333333;
}
#posts {
    font-family: sans-serif;
    overflow-wrap: break-word;
    color: #EBEBEB;
    list-style: none;
    padding: 0;
    text-align: center;
    margin-left: 5em;
    margin-right: 5em;

}

#posts>li {
    background-color: #555555;
    margin-bottom: 0.4em;
    border-radius: 0.2em;
}

p {
    margin: 2px;
}

.logo {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
}

.top {
    font-size: 2em;
}

.bottom {
    font-size: 1em;
}